"""Project settings for {{ api_name }} API."""

from pydantic_settings import BaseSettings


class Settings(BaseSettings):
    #API Specs
    {{ api_name|upper }}_API_KEY: str | None = None
    {{ api_name|upper}}_API_URL: str = ""

    # Endpoints urls
    {%for endpoint in endpoints %}
    {{ endpoint|upper }}_URL: str = f"{ {{ api_name|upper}}_API_URL }""/{{ endpoint }}"
    {%- endfor %}


    class Config:
        env_file = ".env"
        env_file_encoding = "utf-8"


settings = Settings()
